
    <div id="search-bar">
    <h1>Search Gems</h1>
    <%= form_tag search_gems_path, method: "post", class: 'test-form' do %>
    <%= text_field_tag :gem, "", placeholder: "Enter a gem here", class: "test-class" %>
    <%= button_tag "submit" %>
    <% end %>
    </div>
  <div id="search-results">
  </div>
