
  <h1>Bitches</h1>
  <a href="/favorites">Your Favorites</a>
  <%= form_tag search_gems_path, method: "post", class: 'test-form' do %>
  <%= text_field_tag :gem, "", placeholder: "Enter a gem here", class: "test-class" %>
  <%= button_tag "submit" %>
  <% end %>

  <div id="search-results"></div>

  <button class="test-storage">Test your local storage here</button>
  <button class="delete-storage">Delete your storage here</button>
